body {
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    font-family: "Radio Canada Big", sans-serif;
}
a {
    text-decoration: none;
}
.container {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 90vh;
}
/* Small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */ 
@media (min-width: 992px) {
    .container {
        width: 970px; 
    }
}
/* Large  */
@media (min-width: 1200px) {
    .contianer {
        width: 1170px
    }
}
.box {
    background-color: white;
    border-radius: 14px;
    padding: 10px;
    text-align: center; 
    width: 250px;
}
.box .img {
    /* width: 250px; */
}
.box img {
    width: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.box .info {
}
.box .info h3 {
    font-size: 19px;
    color: hsl(218, 44%, 22%);
    width: calc(100% - 2.5rem);
    margin-right: auto;
    margin-left: auto;
}       
.box .info p {
    font-size: 14px;
    color: hsl(216, 15%, 48%);
}